<mat-toolbar class="custom-toolbar-background">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="" routerLinkActive="active">Sorting Algorithms</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
