<div>
  <div>
    <label for="columnSize">Number of Columns:</label>
    <input type="number"
           id="columnSize"
           [(ngModel)]="columnCount"
           (ngModelChange)="generateColumns()"
           min="0"
           max="500"
           step="5"
           autocomplete="off">
    <button (click)="generateColumns()">Reset Columns</button>
    <button (click)="quickSort()">Quick Sort</button>
  </div>
  <!-- add this later-->
<!--  <div>
    <label>Sorting delay(ms):</label>
    <input type="text" id="delay" [(ngModel)]="delay">
  </div>-->
  <app-chart [dataPoints]="chartOptions.data[0].dataPoints" [chartTitle]="chartTitle"></app-chart>
</div>
