<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }">
  <ul>
    <li>
      <a routerLink="/quicksort" routerLinkActive="active">
        <span class="material-symbols-outlined">directions_run</span>
        <span>QuickSort</span>
      </a>
    </li>
    <li>
      <a routerLink="/bubblesort" routerLinkActive="active">
        <span class="material-symbols-outlined">bubble_chart</span>
        <span>BubbleSort</span>
      </a>
    </li>
    <li>
      <a routerLink="/selectionsort" routerLinkActive="active">
        <span class="material-symbols-outlined">left_click</span>
        <span>Selection Sort</span>
      </a>
    </li>
    <li>
      <a routerLink="/insertionsort" routerLinkActive="active">
        <span class="material-symbols-outlined">insert_chart</span>
        <span>Insertion Sort</span>
      </a>
    </li>
  </ul>
</div>

