<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }">
  <ul>
    <li>
      <a routerLink="/quick-sort" routerLinkActive="active">
        <span class="material-symbols-outlined">directions_run</span>
        <span>Quick Sort</span>
      </a>
    </li>
    <li>
      <a routerLink="/bubble-sort" routerLinkActive="active">
        <span class="material-symbols-outlined">bubble_chart</span>
        <span>Bubble Sort</span>
      </a>
    </li>
    <li>
      <a routerLink="/selection-sort" routerLinkActive="active">
        <span class="material-symbols-outlined">left_click</span>
        <span>Selection Sort</span>
      </a>
    </li>
    <li>
      <a routerLink="/insertion-sort" routerLinkActive="active">
        <span class="material-symbols-outlined">insert_chart</span>
        <span>Insertion Sort</span>
      </a>
    </li>
  </ul>
</div>

