<div>
  <div>
    <label for="columnSize">Number of Columns:</label>
    <input type="number"
           id="columnSize"
           [(ngModel)]="columnCount"
           min="0"
           max="500"
           step="5">
    <button (click)="generateColumns()">Generate Columns</button>
    <button (click)="bubbleSort()">Bubble Sort</button>
  </div>
  <div>
    <label>Sorting delay(ms):</label>
    <input type="number"
           id="delay"
           [(ngModel)]="delay"
           min="0"
           max="500"
           step="5">
  </div>
  <app-chart [dataPoints]="chartOptions.data[0].dataPoints" [chartTitle]="chartTitle"></app-chart>
</div>
