/*Maybe add later*/
/*.welcome-page {
  background-image: url('/assets/images/welcome.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;*/

h1 {
    padding: 10px;
}
